body {
	text-align: center;
	background-image: url(background3.jpg);
}

.t1 {
	height: 100px; 
	border: 2px solid black;
	border-radius: 15px;
	margin-left: 200px;
	margin-right: 200px;
	background-color: pink;
}

.t2 {
	min-height: 1000px; 
	border: 2px solid black;
	border-radius: 15px;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 15px;
	background-color: white;
}

